.spinner-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	z-index: 99999;
}

.spinner {
	position: absolute;	
	/* height: 100px;
	width: 100px; */
	margin: 0px auto;
}
main {
	position: absolute;
	top: 64px;
	left: 0;
}

aside {
	background: #825bf8;
	width: 18.75rem;
	height: 93vh;
	z-index: 9999;
	overflow-y: scroll;
	box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

.container {
	padding: 12px;
}

.container a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin: 21px;
	font-family: 'Poppins';
}
